$color-initial: #fff !default;
$color-primary: #785964 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #e1e1e1 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #f4f5f6 !default;

$body-bg: $color-initial;
$highlight-text: #000;
$highlight-error: #ff5544;
$highlight-active: #eeffe1 !default;