$body-bg: #0f0909;
$highlight-text: #fff;
$highlight-error: #ff5544;

$color-initial: #000 !default;
$color-primary: #64B235 !default;
$color-secondary: #9F9389 !default;
$color-tertiary: #0B0A09 !default;
$color-quaternary: #2E2E2E !default;
$color-quinary: #1E1E1E !default;