body {
  background: $body-bg;
  padding: 0;
  margin: 0;
}

header {
  background: $color-quinary;
}

footer {
  background: $color-quinary;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  color: $highlight-text;
  font-size: 1.4rem;
}

.errors {
  color: $highlight-error;
}

.service-form {
  .row {
    .column {
      padding: 0.7rem 1rem;
    }
    .column.url-pattern {
      flex: none;
      width: auto;
      padding: 0.7rem 0.2rem;
    }
    .column.handle {
      padding: 0;
    }
  }
}